<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>${pagetitle} - ${sitename}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="MobileOptimized" content="240"/>
<style type="text/css">
body{ font-size:13px;   line-height:145%; }
ul{ list-style-type:none; margin:0; padding:0 ;}
h3{ margin:5px 0;}
#wrapper { }
#header  h2{ font-size:14px; margin:5px 0;}
#footer { margin:5px 0;}
.post h1 { font-size:14px; margin:3px 0;}
.post .post_content p { margin:0 0 5px 0; }
#commentlist li {border-bottom:1px dashed #ccc; margin:5px 0; }
#commentlist p {  margin:3px 0; text-indent:1em;}
.pager { margin:5px 0;}
.pager a,.pager span {     margin-right:5px;    }
</style>
</head>
<body>
<a id="top"></a>
<div id="wrapper">
    <div id="header">
        <h2><a href="$siteurl">${sitename}手机版</a></h2>
    </div>
   